@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import "tailwindcss";

@theme{
   --font-Roboto:"Roboto", serif;
}

*{
    font-family: Roboto;
}